
html, body {
  height: 100%;
  margin: 0;
}
body {
 
  display: flex;
  align-items: center;
  justify-content: center;
}
canvas {
  border: 1px solid white; background-color:gold;
}
#p1
{
  color:rgb(51, 255, 0);
  position:absolute;
  left:100px;
  top:10px;
}
  #p2
{
  color: rgb(51, 255, 0);
  position:absolute;
  left:100px;
  top:30px;
}
#score
{
  color:rgb(47, 0, 255);
  position:absolute;
  left:155px;
  top:10px;
}
#high
{
  color:yellow;
  position:absolute;
    left:195px;
    top:30px;
}
#button
{
    background-color: blueviolet;
    position: absolute ;
    left:195px;
    top:30px;

       
}
button:hover{
    background-color: green;
}

#end_msg
{
  
  position:absolute;
    left:100px;
    top:100px;
}


